.navbar {

    display: flex;
    flex-direction: column;
}

nav {

    height: 5rem;
    width: 100%;
    display: flex;
}

.button-click {

    background-color: rgba(189, 183, 107, 0.308);
    border: 0.5px solid black;
    border-radius: 5px;
}

.div-search {

    padding: 1rem;
}

.div-search:hover {


    border: 2px solid black;
}


section .terorist:hover {

    border: 2px solid black;
}