.navbar {

    display: flex;
    flex-direction: column;
}

nav {

    height: 5rem;
    width: 100%;
    display: flex;
}

.div-search {

    padding: 1rem;
}

.div-search:hover {


    border: 2px solid black;
}


section div:hover {

    border: 2px solid black;
}